In [6]:
import pandas as pd
df= pd.read_csv('output/top4_buildings.csv')
df
df2= pd.read_csv('output/edge_corners_top4.csv')
df2

   cluster_id  n_corners    base_z     roof_z
0           0         20 -0.167883  11.911817
1           2         21 -2.214459  -0.803707
2           3         31 -0.585220  12.552025
3           5         29 -0.369000  12.685294
4           8         14 -0.513724  10.028820

In [2]:
import pandas as pd
df= pd.read_csv('output/top4_buildings.csv')
df

,cluster_id,n_points,height,area,density,low_frac,n_gaps,floor_est_height,floor_label,building_id,floors_pred,usable_area_per_floor,height_per_floor
0,3,147311,13.137245,6373.346266,23.113604,0.636364,6,4,4,Building 1,4,579.395115,3.284311
1,5,136234,13.054294,6193.013199,21.998015,0.443182,1,4,4,Building 2,4,862.095587,3.263573
2,1,149186,14.441798,5466.350831,27.291699,0.790000,4,5,4,Building 3,4,286.983419,3.610449
3,2,25803,1.410752,2853.717969,9.041889,0.970588,1,1,1,Building 4,1,83.932881,1.410752

In [8]:
df3= pd.read_csv('output/3.csv')
df3

,cluster_id,n_points,height,area,density,low_frac,n_gaps,floor_est_height,floor_label,building_id,floors_pred,usable_area_per_floor
0,3,147311,13.137245,6373.346266,23.113604,0.636364,6,4,4,1,4,579.395115
1,5,136234,13.054294,6193.013199,21.998015,0.443182,1,4,4,2,4,862.095587
2,1,149186,14.441798,5466.350831,27.291699,0.790000,4,5,4,3,4,286.983419
3,2,25803,1.410752,2853.717969,9.041889,0.970588,1,1,1,4,1,83.932881
4,4,37106,8.297360,2594.945114,14.299339,0.750000,1,3,3,5,3,216.245426
...,...,...,...,...,...,...,...,...,...,...,...,...
86,108,298,1.544490,5.121036,58.191346,0.625000,2,1,2,87,1,1.920389
87,96,269,1.659668,5.036116,53.414177,0.500000,1,1,1,88,1,2.518058
88,86,269,1.061928,4.799970,56.042013,0.555556,2,1,2,89,1,2.133320
89,105,239,2.518661,3.791139,63.041733,0.833333,2,1,2,90,1,0.631857
90,93,476,27.796131,0.706975,476.000000,0.928571,4,9,9,91,9,0.005611